<div class="container-fluid navbar-branding">
    <%= image_tag asset_path("/assets/uoe/UoELogo.gif"), :class =>"header-logo", :alt => "University of Edinburgh" %>
    <%= image_tag asset_path("/assets/uoe/archivesheader_frontend.png"), :class =>"header-logo", :alt => "University of Edinburgh" %>
</div>