<br>
<br>
<footer>
  <div class="footer-subsite-content">
    <div class="container-footer">
      <div class="row">
          <div class="col-sm-6 col-md-8">
            <div class="branding-baton-holder">
              <img class="branding-baton" src="https://lac-edwebtools.is.ed.ac.uk/edweb/library-branding-baton.png" height="100">
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <a href="https://library.ed.ac.uk/library-help" class="btn btn-brand btn-sm" title="Contact Us">
              Contact us <i class="bi bi-chevron-right"></i>
            </a>
          </div>
      </div>
    </div>
  </div>
  <div class="footer-discover">
    <h3 class="footer-discover-heading">
      The University of Edinburgh
    </h3>
  </div>


  <div class="footer">
    <div class="container-footer">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><a href="https://www.ed.ac.uk/about/website/website-terms-conditions">Terms &amp; conditions</a></li>
            <li><a href="https://edin.ac/privacy-information">Privacy &amp; cookies</a></li>
            <li><a href="https://www.ed.ac.uk/university-secretary-group/complaint-handling-procedure">Complaints procedure</a></li>
            <li><a href="https://www.ed.ac.uk/sustainability/what-we-do/supply-chains/initiatives/modern-slavery/statement">Modern slavery</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><a href="https://archives.collections.ed.ac.uk/static/html/accessibility_statement.html">Accessibility Statement</a></li>
            <li><a href="https://www.ed.ac.uk/about/website/freedom-information">Freedom of information publication scheme</a></li>
            <li><a href="https://www.ed.ac.uk/data-protection">Data protection / Records Management</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-6 justify-content-end">
          <a href="https://www.ed.ac.uk/about/mission-governance/affiliations">
            <img class="img-fluid" alt="University affiliations" src="https://library.ed.ac.uk/themes/upstream/wpp_theme/images/footer-affiliations.png">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 order-md-2">
          <p class="float-end">
            <a class="btn btn-brand btn-sm" href="https://www.myed.ed.ac.uk/">
              MyEd login <i class="bi bi-chevron-right"></i>
            </a>
          </p>
        </div>
        <div class="col-md-8 order-md-1">
          <p>
            The University of Edinburgh is a charitable body, registered in Scotland, with registration number SC005336, VAT Registration Number GB&nbsp;592&nbsp;9507&nbsp;00, and is acknowledged by the UK authorities as a "<a href="https://www.gov.uk/guidance/recognised-uk-degrees">Recognised body</a>" which has been granted degree awarding powers.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-footer-copyright">
    Unless explicitly stated otherwise, all material is copyright © The University of Edinburgh 2025.
  </div>
</footer>




