<div>
<h2>Takedown Policy</h2>
<p>Collections on the platform collections.ed.ac.uk make every effort to ensure that published content does not infringe any person's rights, or applicable UK laws.</p>

<p>However, if you believe that content, in any of the sites hosted on this platform, may be illegal, please contact the Head of Special Collections & Centre for Research Collections who will review the complaint and take appropriate action.</p>

<p>
Centre for Research Collections (Library & University Collections)<br>
Main Library, George Square<br>
Edinburgh, EH8 9LJ<br>
Email: is-crc@ed.ac.uk<br>
Please note the Library is staffed 9-5pm Monday-Friday.<p>

<h3>Making a complaint</h3>

<p>In the body of the email please provide the following information:</p>
<ul>
<li>Describe the infringement in as much detail as possible so that the specific content may be readily identified. The URL in the address bar will allow us to lookup the specific section.<li>
<li>Describe your relationship to the content, e.g. I am the author/creator of the material.<li>
<li>Describe the grounds for complaint, some examples are:<li>
<li>Unauthorised use by reason of reproduction and/or making available the material.<li>
<li>Breach of the moral right of [paternity/integrity/right not to have my work subjected to derogatory treatment].<li>
<li>Other complaints, e.g. defamation, breach of confidence, data protection.</li>
</ul>
<p>On receipt of your complaint, the Centre for Research Collections will:</p>
<ul>
<li>Make an initial assessment of its validity</li>
<li>For all but spurious complaints, temporarily remove access to the item that is subject to complaint</li>
<li>Acknowledge receipt of the complaint by email</li>
<li>Seek to verify your identity and authority as complainant</li>
<li>Refer the complaint to the University's Legal Advisor for comment and advice</li>
</ul>
<p>Potential outcomes:</p>

<p>When the Head of Special Collections & Centre for Research Collections has verified the authenticity of your complaint and has been advised that it is ostensibly legitimate, the file will be permanently removed from public access.</p>
<p>OR</p>
<p>If the Legal Advisor confirms that it does not breach any law then the item will be reinstated.</p>
</div>
