<h1 style="color: #830065">Welcome to University of Edinburgh Archive and Manuscript Collections</h1>
<p>Explore our rich collection of historical records and manuscripts.</p>

</br>

<%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'identifier']
           ]
    } %>

    <% ASUtils.find_local_directories('public/views/_welcome_addition.html.erb').each do |template| %>
        <%= render(:inline => File.read(template)) if File.exists?(template) %>
    <% end %>

</br>

<h1 style="color: #830065"> User and Visitor Information.</h1>
<p>Heritage Collections staff are available to help you access our Archives & Manuscripts collections.</p>
<ul style="list-style-type:square;">
    <li>See our <a href="https://library.ed.ac.uk/heritage-collections/using-the-collections/locations-contact" target=”_blank”> Using the Collectios</a> page for our location and open hours. </li>
    <li>Learn more about booking an appointment <a href="https://library.ed.ac.uk/heritage-collections/using-the-collections/virtual-access" target=”_blank”> remotely</a> or <a href="https://library.ed.ac.uk/heritage-collections/using-the-collections/visiting-in-person" target=”_blank”> in person</a> </li>
    <li>Go to <a href="https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdiscovered.ed.ac.uk%2Fdiscovery%2Fsearch%3Fvid%3D44UOE_VU2%26lang%3Den&data=05%7C02%7C%7C70ee86cf03824c4e815f08dd4a91b3d4%7C2e9f06b016694589878910a06934dc61%7C0%7C0%7C638748711815608753%7CUnknown%7CTWFpbGZsb3d8eyJFbXB0eU1hcGkiOnRydWUsIlYiOiIwLjAuMDAwMCIsIlAiOiJXaW4zMiIsIkFOIjoiTWFpbCIsIldUIjoyfQ%3D%3D%7C0%7C%7C%7C&sdata=eCJxp0S7JP%2FKYHksGap2E%2FCtciQ0tn9%2BAUcr%2FO0%2BujE%3D&reserved=0" target=”_blank”> DiscoverEd</a> to browse our printed collections catalogue.</li>
    <li>Still have a question? Contact us at mailto:HeritageCollections@ed.ac.uk (monitored Monday-Friday 9 am-5 pm)</li>
</ul>