<div class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
            <p>  <a href="http://www.ed.ac.uk/about/website/privacy" title="Privacy and Cookies Link"  target="_blank">Privacy &amp; Cookies</a>
                | <a href="https://www.ed.ac.uk/information-services/library-museum-gallery/crc/services/copying-and-digitisation/image-licensing/takedown-policy" title="Takedown Policy Link" target="_blank">Takedown Policy</a>
                | <a href="https://www.ed.ac.uk/information-services/library-museum-gallery/crc/services/copying-and-digitisation/image-licensing" title="Licensing and Copyright Link" target="_blank">Licensing &amp; Copyright</a>
                | <a href="https://librarylabs.ed.ac.uk/accessibility/archivesspace/accessibility.html" title="Website Accessibility Link" target="_blank">Accessibility</a>
                | <a href="http://www.ed.ac.uk/is/crc" title="Centre for Research Collections" target="_blank">Centre for Research Collections</a>
                | <a href="http://www.lhsa.lib.ed.ac.uk/" target="_blank">LHSA</a>
                | Contact us at <a href="mailto:is-crc@ed.ac.uk">is-crc@ed.ac.uk</a>
            </p>
            <p> <a href="http://archivesspace.org" target="_blank">ArchivesSpace</a> <%= ASConstants.VERSION %>
                
            </p>
                  <p>Unless explicitly stated otherwise, all material is copyright &copy; 2018
                      <a href="http://www.ed.ac.uk" title="University of Edinburgh Home" target="_blank">University of Edinburgh</a>.</p>
          </div>
    </div>
</div>
