<div class="panel-footer">
    <div class="row-fluid">
        <div class="span12">
            <p>  <a href="http://www.ed.ac.uk/about/website/privacy" title="Privacy and Cookies Link"  target="_blank">Privacy &amp; Cookies</a>
                | <a href="/takedown" title="Takedown Policy Link">Takedown Policy</a>
                | <a href="/licensing" title="Licensing and Copyright Link">Licensing &amp; Copyright</a>
                | <a href="http://www.ed.ac.uk/about/website/accessibility" title="Website Accessibility Link" target="_blank">Accessibility</a>
                | <a href="http://www.ed.ac.uk/schools-departments/information-services/library-museum-gallery/crc" target="_blank">Centre for Research Collections</a>
                | <a href="http://www.lhsa.lib.ed.ac.uk/" target="_blank">LHSA</a>
                | <a class="lightbox-51382015569355" style="cursor:pointer;">Contact Us</a>
            </p>
            <p> <a href="http://archivesspace.org" target="_blank">ArchivesSpace</a> <%= ASConstants.VERSION %>
                
            </p>
                  <p>Unless explicitly stated otherwise, all material is copyright &copy; 2018
                      <a href="http://www.ed.ac.uk" title="University of Edinburgh Home" target="_blank">University of Edinburgh</a>.</p>
          </div>
    </div>
</div>
