<div id="above-banner">
    <div class="row">
        <div class="col-sm-8">
            <a class="uoelogo" href="http://www.ed.ac.uk" title="University of Edinburgh Website"><%= image_tag "/assets/uoe/pat_design/library2_final.png", :alt => "University of Edinburgh", style: "margin-top: 1.2rem; margin-bottom: 1.2rem; margin-left: 1.2rem; width: 350px; height: auto;" %></a>
        </div>
        <div class="col-sm-1" style="text-align: center; padding-top: 3.50rem;">
            <p> Accessibility </p>
        </div>
        <div class="col-sm-1" style="text-align: center; padding-top: 3.50rem;">
            <p> Visit Us </p>
        </div>
        <div class="col-sm-1" style="text-align: center; padding-top: 3.50rem;">
            <p style="text-align: center"> FAQs </p>
        </div>

    </div>
</div>
<section  id="header">

</section>


