<section  id="header">
  <div class="branding-container">
  <div class="uoelogo">
    <a class="uoelogo" href="http://www.ed.ac.uk" title="University of Edinburgh Website"><%= image_tag "/assets/uoeLogo.gif", :alt => "University of Edinburgh" %></a>
    <a class="uoeaslogo" href="/" title="Archives Space at Edinburgh"><%= image_tag "/assets/uoe/archivesspace.png", :alt => "Archives Space at Edinburgh" %></a>
  </div>
  </div>
  <div class="row">
  </div>
</section>


