<p>
If you would like to request access, or if you have any questions about accessing archive collections, please email us at <a href="mailto:heritagecollections@ed.ac.uk">heritagecollections@ed.ac.uk</a>.
</p>

